#inputTile label {
	float: left;
	width: 100px;
	text-align: right;
	margin-top: 5px;
	margin-bottom: 5px;
}

#inputTile textarea {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#buttonTile button {
	margin: 25px 10px 0px 0px;
}
