<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<t:container xmlns:t="http://tapestry.apache.org/schema/tapestry_5_0_0.xsd">

    <t:block t:id="noEntriesBlock">
        There are no policy pattern entries
    </t:block>

	<t:grid t:id="patternGrid" t:pagerPosition="both" t:empty="block:noEntriesBlock">
		<t:parameter name="deleteCell">
            <t:if test="prop:disabled" negate="true">
	            <t:if test="prop:inUse" negate="true">
					<t:actionlink t:id="deletePattern" t:mixins="DHTMLEvent"
						t:eval='confirmDeletePattern(e, "${jse:policyPatternNode.name}");'
						context="policyPatternNode.name">
						<img src="${deleteAsset}" title="${deleteTitle}" />
					</t:actionlink>
				</t:if>
            </t:if>
		</t:parameter>

		<t:parameter name="selectCell">
			<input type="checkbox" t:type="Checkbox" value="select" t:disabled="prop:disabled"
				t:clientId="${policyPatternNode.name}" t:mixins="CheckboxEvent" />
		</t:parameter>

		<t:parameter name="nameCell">
			<t:if test="prop:addNamelink" else="block:nameBlock">
	            <t:if test="prop:group" else="block:patternBlock">
                    <t:DHTMLToolTip t:value="prop:policyPatternNode.name" t:minLength="40">
						<t:pagelink page="dlp/patterns/group" context="policyPatternNode.name"
							class="gridLink" title="Edit pattern group"
							t:mixins="ContextMenu" 
							t:menuItems="[{'l':'edit',f:'edit_pattern', c:'${groupEditLink}'}, {'l':'rename',f:'rename_pattern', c:'${groupRenameLink}'}, {'l':'view usage',f:'usage_pattern', c:'${usageLink}'}]"
							t:menuContext="policyPatternNode.name">
							<t:RestrictLength t:value="prop:policyPatternNode.name"
								t:maxLength="40" />
						</t:pagelink>
					</t:DHTMLToolTip>
	                <img src="${groupAsset}" class="groupIcon" title="Pattern group" />
	            </t:if>
	            
	            <t:block t:id="patternBlock">
	                <t:DHTMLToolTip t:value="prop:policyPatternNode.name" t:minLength="40">
	                    <t:pagelink page="dlp/patterns/edit" context="policyPatternNode.name"
	                           class="gridLink" title="Edit pattern"
	                           t:mixins="ContextMenu" 
	                           t:menuItems="[{'l':'edit',f:'edit_pattern', c:'${patternEditLink}'}, {'l':'rename',f:'rename_pattern', c:'${patternRenameLink}'}, {'l':'view usage',f:'usage_pattern', c:'${usageLink}'}]"
	                           t:menuContext="policyPatternNode.name">
	                        <t:RestrictLength t:value="prop:policyPatternNode.name"
	                            t:maxLength="40" />
	                    </t:pagelink>
	                </t:DHTMLToolTip>
	            </t:block>
            </t:if>

            <t:block t:id="nameBlock">
                <t:DHTMLToolTip t:value="prop:policyPatternNode.name" t:minLength="40">
	                <t:RestrictLength t:value="prop:policyPatternNode.name" t:maxLength="40" />
                </t:DHTMLToolTip>
                <t:if test="prop:group">
                    <img src="${groupAsset}" class="groupIcon" title="Pattern group" />
                </t:if>
            </t:block>
		</t:parameter>

		<t:parameter name="regexpCell">
			<t:if test="prop:policyPattern">
				<t:DHTMLToolTip t:value="prop:policyPattern.regexp" t:minLength="40">
					<t:RestrictLength t:value="prop:policyPattern.regexp"
						t:maxLength="40" />
				</t:DHTMLToolTip>
			</t:if>
		</t:parameter>

		<t:parameter name="descriptionCell">
			<t:if test="prop:policyPattern">
				<t:DHTMLToolTip t:value="prop:policyPattern.description"
					t:minLength="40">
					<t:RestrictLength t:value="prop:policyPattern.description"
						t:maxLength="40" />
				</t:DHTMLToolTip>
			</t:if>
		</t:parameter>

		<t:parameter name="matchFilterCell">
			<t:if test="prop:policyPattern">${policyPattern.matchFilter}</t:if>
		</t:parameter>

        <t:parameter name="thresholdCell">
            <t:if test="prop:policyPattern">${policyPattern.threshold}</t:if>
        </t:parameter>

        <t:parameter name="priorityCell">
            <t:if test="prop:policyPattern">${friendlyPriority}</t:if>
        </t:parameter>
	</t:grid>
</t:container>    