<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<t:container xmlns:t="http://tapestry.apache.org/schema/tapestry_5_0_0.xsd">
    <t:select t:id="localeSelector" value="prop:currentLocale" model="prop:localeModel" t:mixins="AjaxEvent" 
            t:event="change" t:afterEvent="afterSelectLocale" t:validate="required"/>
</t:container>

