<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<t:container  xmlns:t="http://tapestry.apache.org/schema/tapestry_5_0_0.xsd">

    <t:RegExprFilter t:id="filter"/>

    <t:form>
        <div id="selectionTile">
            <t:actionlink t:id="deleteSelected" t:mixins="confirm" t:message="literal: are you sure you want to delete the selected messages?"
                    title="delete the selected messages">
                delete selected
            </t:actionlink>
            |
            <t:actionlink t:id="holdSelected" title="hold the selected messages">
                hold selected
            </t:actionlink>
            |
            <t:actionlink t:id="releaseSelected" title="release the selected messages">
                release selected
            </t:actionlink>
            |
            <t:actionlink t:id="requeueSelected"  t:mixins="confirm" t:message="literal: are you sure you want to requeue the selected messages?"
                    title="requeue the selected messages">
                requeue selected
            </t:actionlink>
            |
            <t:actionlink t:id="flush"  t:mixins="confirm" t:message="literal: are you sure you want to flush the queue?"
                    title="flush the queue">
                flush
            </t:actionlink>
            |
            <a href="#" onclick="invertSelection();" title="invert the selection (only for visible rows)">invert selection</a>

            <span id="rowsPerPage"><t:RowsPerPageSelector t:rowsPerPage="rowsPerPage"/></span>
        </div>
    </t:form>
    
    <t:block t:id="emptyQueueBlock">
        Queue is empty
    </t:block>
    
    <t:form t:id="gridForm">
        <div id="postfixSpoolGridTile">
            <t:grid t:id="postfixSpoolGrid" t:pagerPosition="both" t:empty="block:emptyQueueBlock">
            
                <t:parameter name="queueIDCell">
                    <t:actionlink t:id="queueIDLink" context="prop:queueItem.queueID" class="gridLink" title="View message">
                        ${queueItem.queueID}
                    </t:actionlink>
                </t:parameter>
                            
                <t:parameter name="failureCell">
                    <t:DHTMLToolTip t:value="prop:queueItem.failure" t:minLength="150">
                        <t:RestrictLength t:value="prop:queueItem.failure" t:maxLength="150" />
                    </t:DHTMLToolTip>
                </t:parameter>
                        
                <t:parameter name="recipientsCell">
                    <t:DHTMLToolTip t:value="join:queueItem.recipients" t:minLength="150">
                        <t:RestrictLength t:value="join:queueItem.recipients" t:maxLength="150" />
                    </t:DHTMLToolTip>
                </t:parameter>
                
                <t:parameter name="deleteCell">
                    <t:if test="queueItem.queueID">
    	                <div style="text-align: center;">
    	                    <t:actionlink t:id="deleteMessage" t:mixins="DHTMLEvent" t:eval='confirmDelete(e, "${jse:queueItem.queueID}");' context="queueItem.queueID">
    	                        <img src="${deleteAsset}" title="Delete Message"/>
    	                    </t:actionlink>
    	                </div>
    	            </t:if>
                </t:parameter>
    
                <t:parameter name="selectCell">
                    <t:if test="queueItem.queueID">
    	                <div style="text-align: center;">
    	                    <input type="checkbox" t:type="Checkbox" value="select" t:clientId="${queueItem.queueID}" 
    	                        t:mixins="CheckboxEvent" />
    	                </div>
                    </t:if>
                </t:parameter>
            </t:grid>
        </div>
    </t:form>
    
    <t:if test="failure">
        <p class="message-error">
          There was an error while talking to the spool manager. Message: ${failureMessage} 
        </p>
    </t:if>
    
    <script type="text/javascript">
        function confirmDelete(e, queueID)
        {
            if(!confirm("Are you sure you want to delete message with queue ID " + queueID.unescapeHTML() )) {
                e.stop();
            }
        }

        function invertSelection()
        {
            $('gridForm').select('input[type=checkbox]').each(function(s) {
                s.click();
            });          
        }
    </script>   
    
</t:container>		
 
 
