#form label {
	display: block;
	float: left;
	width: 180px;
	text-align: right;
}

#form input {
	margin-left: 10px;
	margin-bottom: 20px;
}

#form br {
	clear: left;
}

#intro {
	margin-top: 20px;
	margin-bottom: 20px;
}

.text {
	color: #777;
	text-align: justify;
}

.message-info {
	margin-top: 10px;
}