form label.label {
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
}

form div>input {
	margin-top: 15px;
}

form input {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#passwordLabel {
	margin-top: 30px;
	color: #777;
}

#password {
	font-size: 200%;
}

#intro {
	margin-top: 20px;
	margin-bottom: 20px;
}

.text {
	color: #777;
	text-align: justify;
}

.note {
	font-size: 80%;
}