#content {
	margin: 5% auto;
	width: 500px;
	padding: 14px;
	border: solid 2px #DEDEDE;
}

#content h1 {
	font-weight: bold;
	margin-bottom: 8px;
}

#content p.subtitle {
	color: #666666;
	margin-bottom: 20px;
	border-bottom: solid 1px #dedede;
	padding-bottom: 10px;
}

#content label {
	display: block;
	font-weight: bold;
	text-align: right;
	width: 220px;
	float: left;
}

#content .small {
	color: #666666;
	display: block;
	font-size: 80%;
	font-weight: normal;
	text-align: right;
	width: 180px;
}

#content input {
	width: 200px;
	margin: 2px 0 30px 10px;
}

#content button {
	clear: both;
	background: #888888;
	color: #FFFFFF;
	border: solid 1px #666666;
	font-weight: bold;
	padding: 4px 6px;
}

#buttons {
	text-align: center;
}

#logo {
	float: right;
	margin: 0 0 15px 15px;
}

.text {
	color: #777;
	text-align: justify;
	font-size: 80%;
}

.email {
    font-weight: bold;
}

#intro {
	margin-bottom: 20px;
}

#localeSelector {
    float: right;
    margin-top: -50px;
    margin-right: -15px;
}