<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<t:layout xmlns:t="http://tapestry.apache.org/schema/tapestry_5_0_0.xsd" activeMenu="about">

    <h1 class="pageHeader">About</h1>

    <div class="about_content">
    <p>SendInc Email Encryption Gateway, Copyright &copy; 2013 Send Technology, Inc.</p>
    <br />
    <p>Powered by Djigzo Email Encryption Gateway</p>
    <div id="logo"><a href="http://www.djigzo.com" onclick="target='_blank'"><img src="${logoAsset}"/></a></div>
    <p>
    Copyright &copy; DJIGZO 2008-2012. AGPLv3 Licensed. 
    
    <t:if test="version"><span id="version"> Version: ${version}</span>.</t:if>
            <t:if test="built"><span id="built"> Built: ${built}</span>.</t:if>
    </p>
    </div>
</t:layout>
