<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<t:layout xmlns:t="http://tapestry.apache.org/schema/tapestry_5_0_0.xsd" activeMenu="admins" left="block:additionalMenu">

    <h1 class="pageHeader">Admins</h1>
    
		<t:block t:id="additionalMenu">
            <li><a t:type="PageLink" t:page="admin/add" title="Add a new administrator">Add admin</a></li>
            <li><a t:type="PageLink" t:page="admin/restart" title="Restart the gateway">Restart</a></li>
		</t:block>

	    <t:block t:id="deletionErrorBlock">
		    <p class="message-error">
		      admin could not be deleted 
		    </p>
		</t:block>

		<t:delegate to="deletionErrorBlock" />

	    <div id="settingsMenu">
            <t:pageLink t:id="backupManager" title="open the backup manager" page="admin/backup/manager">
                backup manager</t:pageLink>
            |
            <t:pageLink t:id="mtaConfig" title="edit the MTA configuration" page="admin/mta/config">
                MTA config</t:pageLink>
            <t:if test="fetchmailEnabled">
                |
                <t:pageLink t:id="fetchmailManager" title="open Fetchmail manager" page="admin/fetchmail/manager">
                    fetchmail manager</t:pageLink>
            </t:if>
            |
            <t:pageLink t:id="sslCertificateManager" title="open the SSL certificate manager" page="admin/sslcertificatemanager">
                SSL config</t:pageLink>
            |
            <t:pageLink t:id="proxyConfig" title="edit the proxy configuration" page="admin/proxyConfig">
                proxy config</t:pageLink>
            |
            <t:pageLink t:id="loggerManager" title="open logger manager" page="admin/loggerManager">
                logger manager</t:pageLink>
        </div>
		<t:form>
			<div id="gridTile">
			  	<t:grid t:id="grid" t:pagerPosition="both" id="adminGrid">
	
					<t:parameter name="usernameCell">
					  	<t:pagelink page="admin/edit" context="prop:admin.username" class="gridLink" title="Edit admin">
                    		<t:RestrictLength t:value="prop:admin.username" t:maxLength="32" />
					  	</t:pagelink>
					</t:parameter>

					<t:parameter name="rolesCell">
                    	<t:RestrictLength t:value="join:admin.roles" t:maxLength="200" />
					</t:parameter>
					
		 			<t:parameter name="deleteCell">
		 				<t:unless test="admin.builtIn">
						    <div>
					    		<t:actionlink t:id="deleteAdmin" t:mixins="DHTMLEvent" t:eval='confirmDelete(e, "${jse:admin.username}");' context="admin.username">
					    			<img src="${deleteAsset}" title="Delete admin"/>
					    		</t:actionlink>
					    	</div>
					    </t:unless>
					</t:parameter>
				</t:grid>
			</div>
		</t:form> 
	
	<script type="text/javascript">
		function confirmDelete(e, admin)
	  	{
			if(!confirm("Are you sure you want to delete the admin " + admin.truncate(250).unescapeHTML())) {
				e.stop();
			}
	  	}
	</script>
	
</t:layout>
