<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<t:layout xmlns:t="http://tapestry.apache.org/schema/tapestry_5_0_0.xsd" activeMenu="certificates" left="block:additionalMenu">
    <h1 class="pageHeader">Intermediate and user certificates</h1>
    
	<t:block t:id="additionalMenu">
        <t:IfRole t:ifAnyGranted="ROLE_ADMIN,ROLE_PKI_MANAGER">
			<li>
				<a t:type="PageLink" t:page="certificate/Import" t:context="literal:CERTIFICATES" title="Import certificates into the certificate store">
				    Import certificates
				</a>
			</li>
            <li>
                <a t:type="PageLink" t:page="certificate/ImportKey" title="Import private keys into the certificate store">
                    Import keys
                </a>
            </li>
        </t:IfRole>
        <li>
            <a t:type="PageLink" t:page="ctl/list" title="Edit the certificate trust list">Trust List</a>
        </li>
	</t:block>

	<t:CertificateStoreGrid t:id="CertificateStoreGrid"/>
	
</t:layout>