<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<t:layout xmlns:t="http://tapestry.apache.org/schema/tapestry_5_0_0.xsd" activeMenu="domains" left="block:additionalMenu">

    <h1 class="pageHeader">Domains</h1>
    
		<t:block t:id="additionalMenu">
            <t:IfRole t:ifAnyGranted="ROLE_ADMIN,ROLE_DOMAIN_MANAGER">
			     <li><a t:type="PageLink" t:page="domain/add" title="Add a new domain">Add domain</a></li>
			</t:IfRole>
		</t:block>

	    <t:block t:id="deletionErrorBlock">
		    <p class="message-error">
		      some domains could not be deleted because they are still in use
		    </p>
		</t:block>

		<t:delegate to="deletionErrorBlock" />

	    <t:block t:id="noDomainsBlock">
	        There are no domains
	    </t:block>

		<t:form>
			<div id="selectionTile">
                <t:IfRole t:ifAnyGranted="ROLE_ADMIN,ROLE_DOMAIN_MANAGER">
			   		<t:actionlink t:id="deleteSelected" t:mixins="confirm" t:message="literal: are you sure you want to delete the selected domains?"
			   				title="delete the selected domains">
			   			delete selected
			   		</t:actionlink>
					|
					<a href="#" onclick="invertSelection();" title="invert the selection (only for visible rows)">invert selection</a>
				</t:IfRole>
			</div>
		
			<div id="gridTile">
			  	<t:grid t:id="grid" t:pagerPosition="both" id="domainGrid" t:empty="block:noDomainsBlock">
	
					<t:parameter name="domainCell">
	                    <t:block t:id="domainBlock">
                            <t:RestrictLength t:value="prop:domain.domain" t:maxLength="100" />
	                    </t:block>
					
                        <t:IfRole t:ifAnyGranted="ROLE_ADMIN,ROLE_DOMAIN_MANAGER" t:else="block:domainBlock">
						  	<t:pagelink page="domain/edit" context="domain.domain" class="gridLink" title="Edit domain"> 
                                <t:Delegate t:to="block:domainBlock"/>
						  	</t:pagelink>
						</t:IfRole>
						
						<t:if t:test="prop:internalDomain">
                            <img id="internalDomain" src="${internalDomainAsset}" title="internal domain"/>
						</t:if>
					</t:parameter>
					
		 			<t:parameter name="deleteCell">
                        <t:IfRole t:ifAnyGranted="ROLE_ADMIN,ROLE_DOMAIN_MANAGER">
							<!-- if the domain is in use we do no allow the deletion -->					    
					    	<t:unless t:test="prop:inUse">
							    <div>
						    		<t:actionlink t:id="deleteDomain" t:mixins="DHTMLEvent" t:eval='confirmDelete(e, "${jse:domain.domain}");' context="domain.domain">
						    			<img src="${deleteAsset}" title="Delete domain"/>
						    		</t:actionlink>
						    	</div>
						    </t:unless>
                        </t:IfRole>
					</t:parameter>
					
					<t:parameter name="selectCell">
					    <div>
							<!-- if the domain is in use we do no allow the deletion -->					    
					    	<t:unless t:test="prop:inUse" t:else="block:domainInUse">
						    	<input type="checkbox" t:type="Checkbox" value="select" t:clientId="${domain.domain}" 
						    		t:mixins="CheckboxEvent,DisabledIfNotRole" t:ifAnyGranted="ROLE_ADMIN,ROLE_DOMAIN_MANAGER" />
						    </t:unless>
						    
						    <t:block t:id="domainInUse">
						    	<input type="checkbox" disabled="disabled" />
						    </t:block>
					   	</div>
					</t:parameter>
				</t:grid>
			</div>
		</t:form> 
	
	<script type="text/javascript">
		function confirmDelete(e, domain)
	  	{
			if(!confirm("Are you sure you want to delete the domain " + domain.truncate(250).unescapeHTML())) {
				e.stop();
			}
	  	}

        function invertSelection()
        {
            $('form').select('input[type=checkbox]').each(function(s) {
                s.click();
            });          
        }
	</script>
	
</t:layout>