<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:t="http://tapestry.apache.org/schema/tapestry_5_0_0.xsd">
<head>
    <t:ConditionalComment t:condition="IE">
        <link href="${asset:context:/styles/ie_fixes.css}" rel="stylesheet" type="text/css" />
    </t:ConditionalComment>

    <t:ConditionalComment t:condition="lte IE 6">
        <script src="${asset:context:/scripts/ie_png.js}" type="text/javascript" />
    </t:ConditionalComment>
    
</head>
<body>
    <div>
    
        <t:if test="prop:uploadError">
            <p class="message-error">
              ${message:error-uploading} ${uploadErrorMessage} 
            </p>
        </t:if>
                
        <t:form t:id="form">
            <t:errors/>
                
            <div id="uploadTile">
                <label t:type="Label" t:id="uploadLabel" t:for="upload" class="firstColumn">
                    ${message:attachment-label}
                    <span class="sublabel">${message:attachment-sublabel} ${maxAttachmentSizeReadable}</span>
                </label>
                 
                <input t:type="upload" t:id="upload" t:disabled="prop:uploadDisabled" t:mixins="DHTMLEvent" 
                        t:eval='onFileSelected();' t:event="change" title="${message:add-attachment-button-title}"/>
                <noscript>
                    <div style="display: inline;">
                        <input t:type="submit" value="${message:add-attachment-button-caption-no-script}" t:id="addAttachment"/>
                    </div>
                </noscript>                

                <div id="loading" class="loading-invisible"><img src="${loadingAsset}" class="loading"/></div>
            </div>

            <!-- hidden add attachment submit we will use when Javascript is enabled -->
            <input type="submit" id="addAttachment" name="addAttachment" style="display: none; "/>

            <br class="clear-left"/>

            <div id="attachmentTile">
                <dl>
		            <t:loop source="attachmentNames" value="attachmentName">
		                <dd>
		                   <t:DHTMLToolTip t:value="prop:attachment.object" t:minLength="50">
		                        <t:RestrictLength t:value="prop:attachment.object" t:maxLength="50"/>
		                   </t:DHTMLToolTip>                   

                           <t:actionlink t:id="removeAttachment" context="attachment.id">
                                <img src="${removeAttachmentAsset}" title="${message:remove-attachment-title}" class="removeImg"/>
                           </t:actionlink>
		                </dd>
		            </t:loop>
	            </dl>
            </div>
        </t:form>
    </div>
    
    <script type="text/javascript">
        function onFileSelected()
        { 
            $("loading").removeClassName("loading-invisible")            
        	
            $("addAttachment").click()                                    
        }  
    </script>    
    
</body>
</html>