<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<t:BasicLayout xmlns:t="http://tapestry.apache.org/schema/tapestry_5_0_0.xsd"
    title="${message:page-title}">
    
    <div id="container">
        <t:form id="localeForm">
            <t:LocaleSelector/>
        </t:form>

        <h1>${message:page-header}</h1>
    
        <a href="http://www.djigzo.com" target="_blank"><img src="${logoAsset}" id="logo"/></a>

        <div id="headers">
            <table border="0">
            <tr>
                <td class="headername">${message:from-label}</td>
                <td>
                    <t:DHTMLToolTip t:value="prop:from" t:minLength="50">
                        <t:RestrictLength t:value="prop:from" t:maxLength="50"/>
                    </t:DHTMLToolTip>                   
                </td>
            </tr>
            <tr>
                <td class="headername">${message:to-label}</td>
                <td>
                    <t:DHTMLToolTip t:value="prop:to" t:minLength="50">
                        <t:RestrictLength t:value="prop:to" t:maxLength="50"/>
                    </t:DHTMLToolTip>                   
                </td>
            </tr>
            <tr>
                <td class="headername">${message:subject-label}</td>
                <td>
                    <t:DHTMLToolTip t:value="prop:subject" t:minLength="50">
                        <t:RestrictLength t:value="prop:subject" t:maxLength="50"/>
                    </t:DHTMLToolTip>                   
                </td>
            </tr>
            </table>
	    </div>
        
	    <t:block t:id="sendErrorBlock">
	        <p class="message-error">
	          There was an error sending your message. Details: ${errorMessage}  
	        </p>
	    </t:block>
        
        <t:if test="errorSending">        
            <t:delegate to="block:sendErrorBlock"/>
        </t:if>
        
        <div id="message">
            <t:any element="div" t:id="framediv">
                <t:any element="iframe" src="${attachmentsLink.toURI()}" id="attachmentsFrame" frameborder="0" onload="resizeFrame()">
                    Your user agent does not support frames or is currently configured not to display frames.
                </t:any>
            </t:any>
	
	        <t:form t:id="form" accept-charset="utf-8">
	            <t:errors/>
	
	            <div id="buttons">
	                <input t:type="submit" value="${message:send-button-caption}" t:id="send" title="${message:send-button-title}"/>
	                <input t:type="submit" value="${message:save-button-caption}" id="saveDraft" title="${message:save-button-title}"/>
	                <input t:type="submit" value="${message:discard-button-caption}" t:id="cancel" title="${message:discard-button-title}"/>
	            </div>
	
	            <div id="bodyContent">
	                <h3 class="pageFontColor">${message:reply-body-label}</h3>
	                <t:textarea t:id="body" rows="25" t:mixins="EnableOnChange" t:idsToEnable="literal:saveDraft"/>
	            </div>	
	        </t:form>
        </div>
    </div>

</t:BasicLayout>