#inputTile label {
	float: left;
	width: 120px;
	text-align: right;
	margin: 0px 15px 8px 5px;
}

#inputTile span label {
	width: auto;
}

#inputTile button {
	margin: 25px 0px 0px 0px;
}

#inputTile br {
	clear: left;
}