label.firstColumn {
	float: left;
	width: 120px;
	text-align: right;
	margin: 5px;
}

#buttonTile button {
	margin: 25px 10px 0px 0px;
}

#inputTile label.generalLabel {
	text-align: right;
	margin-left: 5px;
}

#inputTile input.secondary {
	margin-left: 0px;
}

.clear {
	clear: left;
}