#inputTile {
    padding: 20px;
    
}
#settingsMenu {
	margin-bottom: 20px;
}

#inputTile label.firstColumn {
	float: left;
	width: 200px;
	text-align: right;
	margin-top: 5px;
	margin-bottom: 5px;
}

#inputTile label.generalLabel {
	text-align: right;
	margin-left: 5px;
}

#inputTile input {
	margin-left: 10px;
}

#inputTile input.secondary {
	margin-left: 0px;
}

#inputTile select.domain {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 200px;
}

#inputTile select.networks {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 200px;
}

#inputTile button {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#inputTile .noFirstColumn {
	margin-left: 210px;
}

#inputTile .remove {
	margin-left: 210px;
	margin-bottom: 5px;
}

h2.formLabel {
	color: #666666;
	font-size: 12px;
	font-weight: bold;
	margin-top: 4px;
	margin-bottom: 4px;
	border-bottom: solid 1px #dedede;
}

#buttonPanel {
	margin-top: 15px;
}

#advancedOptions {
	margin-top: 10px;
	margin-bottom: 10px;
}

.sublabel {
	margin-top: 2px;
}

.spacer {
	width: 200px;
}

.clear {
	clear: left;
}

#errorMessage {
	color: red;
}