#settingsMenu {
	margin-bottom: 20px;
        padding: 20px;
}

#mainConfig {
	margin-top: 15px;
        width: 100%;
        max-width: 1087px;
}

#buttonPanel {
	margin-top: 15px;
}

#buttonPanel button {
	margin-right: 10px;
}