.delete {
	width: 10px;
}

.enabled {
	width: 75px;
	text-align: center;
}

.username {
	width: 150px;
}

#adminGrid {
	width: 98%;
}

#gridTile {
	overflow: auto;
        padding: 20px;
}

#domainGrid {
	width: 98%;
}

#selectionTile {
	margin-top: 10px;
	margin-bottom: 5px;
}

#settingsMenu {
	margin-bottom: 20px;
        padding: 20px 40px;
}