.delete {
	width: 10px;
}

.select {
	width: 10px;
}

#selectionTile {
	margin-top: 10px;
	margin-bottom: 5px;
        padding: 20px;
}

#crlGridTile {
	overflow: auto;
        padding: 20px;
}

.crl-not-trusted {
	background-color: #DDDDDD;
}