.delete {
	width: 10px;
}

.select {
	width: 10px;
}

#gridTile {
	overflow: auto;
}

#domainGrid {
	width: 95%;
}

#selectionTile {
	margin-top: 10px;
	margin-bottom: 5px;
        padding: 20px;
}

#internalDomain {
	margin-left: 0px;
}