body {
    background: #f8f8f8;
}

#content {
	margin: 5% auto;
	width: 500px;
	padding: 0 0 25px 0;
	border: solid 1px #e6e6e6;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        background: #ffffff;
}

#content h1 {
	font-weight: bold;
	margin-bottom: 8px;
}

#content p.subtitle {
	color: #999999;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

#content label {
	display: block;
	font-weight: bold;
	text-align: right;
	width: 180px;
	float: left;
}

#content .small {
	color: #666666;
	display: block;
	font-size: 80%;
	font-weight: normal;
	text-align: right;
	width: 180px;
}

#content input {
	width: 200px;
	margin: 2px 0 30px 10px;
}

#content button {
	clear: both;
	padding: 10px 30px;
}

#buttons {
	text-align: center;
}

#logo {
	float: left;
	margin: 0 0 15px 15px;
}

#login-error {
	background: red;
	color: white;
	font-weight: bold;
	padding: 4px;
	text-align: center;
}

#login_header {
	margin-bottom: 18px;
	padding: 10px 10px 0 10px;
	background: #202427;
	color: #f2f2f2;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}


#logo_label {
	margin: 0;
	padding: 22px 16px 0 0;
	float: right;
}
