.delete {
	width: 10px;
}

.select {
	width: 10px;
}

#smsGridTile {
	overflow: auto;
        padding: 20px;
}

#smsGrid {
	width: 95%;
}

#selectionTile {
	margin-top: 10px;
	margin-bottom: 5px;
        padding: 20px;
}