.delete {
	width: 10px;
}

.select {
	width: 10px;
}

.editCertificate {
	width: 10px;
}

#gridTile {
	overflow: auto;
}

#userGrid {
	width: 95%;
}

#selectionTile {
	margin-top: 10px;
	margin-bottom: 5px;
}

#filterTile {
	margin-top: 10px;
	margin-bottom: 10px;
}

#filterPanel {
	width: 95%;
}

#filterPanel input {
	margin-left: 10px;
}

#filterPanel_subject {
	color: white;
	background: none;
	background-color: #BBBBBB;
	width: 98%;
}

#filterPanel_toggler {
	
}

#filterPanel_content {
	border-color: #BBBBBB;
	border-width: 2px;
}

#internalUsers {
	margin-left: 0px;
}

#rowsPerPage {
	margin-left: 10px;
}