#inputTile label.firstColumn {
	float: left;
	width: 120px;
	text-align: right;
	margin-top: 5px;
	margin-bottom: 5px;
}

#inputTile input {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#inputTile br {
	clear: left;
}

#buttonTile button {
	margin: 25px 10px 0px 0px;
}

#settingsMenu {
    margin-bottom: 20px;
}