#form label {
	display: block;
	float: left;
	width: 100px;
	text-align: right;
}

#form input {
	margin-left: 10px;
	margin-bottom: 20px;
}

#form .t-error-icon {
	margin-bottom: 16px;
}

#form br {
	clear: left;
}

#buttonTile button {
	margin: 25px 10px 0px 0px;
}

#rolesTile button {
	background: #FFFFFF;
	border: 0;
}

#spacer {
	float: left;
	width: 10px;
}

select {
	size:10;
    min-height: 200px;
}

button#roles\:select, button#roles\:deselect
{
	margin: 60px 10px 10px 10px;
	padding: 0;
	width: 16px;
	height: 16px;
}
