#inputTile label.firstColumn {
	float: left;
	width: 200px;
	text-align: right;
	margin-top: 5px;
	margin-bottom: 5px;
}

#inputTile label.generalLabel {
	text-align: right;
	margin-left: 5px;
}

#inputTile input {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#inputTile button {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#inputTile .noFirstColumn {
	margin-left: 210px;
}

.message-already-installed {
	background: #AEB404;
	color: #FFFFFF;
	font-weight: bold;
	padding: 4px;
	text-align: left;
	font-size: 12px;
}

#buttonPanel {
	margin-top: 15px;
}

.sublabel {
	margin-top: 2px;
}

.spacer {
	width: 200px;
}

.clear {
	clear: left;
}