.select {
	width: 10px;
}

.logLevel {
	width: 60px;
}

#logLevelGridTile {
	overflow: auto;
}

#logLevelGrid {
	width: 95%;
}

#settingsMenu {
	margin-bottom: 20px;
}

#apply {
	margin-left: 15px;
}

#buttons {
	margin-top: 10px;
}