#inputTile label.firstColumn {
	float: left;
	width: 100px;
	text-align: right;
	margin-top: 5px;
	margin-bottom: 5px;
}

#inputTile input {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#inputTile select {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#inputTile button {
	margin: 20px 10px 0px 0px;
}

#inputTile br {
	clear: left;
}