<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<t:layout xmlns:t="http://tapestry.apache.org/schema/tapestry_5_0_0.xsd" activeMenu="domains">
    <t:if test="prop:domainBean?.domain" else="block:domainNotFoundErrorBlock">
	    <h1 class="formHeader"> 
	    	Select encryption certificates for domain: <t:RestrictLength t:value="prop:domainBean.domain" t:maxLength="70" />
	    </h1>

        <t:IfRole t:ifAnyGranted="ROLE_ADMIN,ROLE_PKI_MANAGER">
            <t:pageLink t:id="additionalCertificates" title="Select additional encryption certificates for ${domainBean.domain}" page="settings/additionalcertificates" t:context="list:prop:domainBean.domain, literal:domain">
                additional certificates
            </t:pageLink>
        </t:IfRole>
    </t:if>
    
    <t:block t:id="domainNotFoundErrorBlock">
	    <p class="message-error">
	      Domain not found 
	    </p>
	</t:block>
    
    <t:if t:test="prop:applied">
        <p class="message-info">
          Changes saved.
        </p>    
    </t:if>
    
	<p>
    	<t:if test="prop:domainBean?.domain">
			<t:EncryptionCertificates t:id="encryptionCertificates"/>

            <t:form t:id="buttonForm">			
		        <div id="buttonTile">
		            <button type="submit">Apply</button>
		            
		            <!--  
		                Create an eventlink around the button so the button works even when javascript
		                is disabled (does not work with IE though)
		             -->
		            <t:eventlink t:event="cancel" style="text-decoration: none">
		                <button t:type="t5components/Button" type="button" t:event="cancel">Close</button>
		            </t:eventlink>
		        </div>
            </t:form>
		</t:if>
	</p>
</t:layout>
