#inputTile label {
	float: left;
	width: 130px;
	text-align: right;
	margin: 2px 15px 8px 5px;
}

#inputTile span label {
	width: auto;
}

#inputTile span input {
	float: left;
}

#inputTile button {
	margin: 25px 0px 0px 0px;
}

#inputTile br {
	clear: left;
}

#buttonTile button {
	margin: 25px 10px 0px 0px;
}