#inputTile input.form {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#inputTile br {
    clear: left;
}

h2.formLabel {
	color: #666666;
	font-size: 12px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 10px;
	border-bottom: solid 1px #dedede;
}

#selectionTile {
    margin-top: 10px;
    margin-bottom: 5px;
}	

#buttonTile button {
	margin: 25px 10px 0px 0px;
}