#inputTile label.firstColumn {
	float: left;
	width: 130px;
	text-align: right;
	margin-top: 5px;
	margin-bottom: 5px;
}

#inputTile input {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#inputTile select {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#inputTile button {
	margin: 5px 10px 0px 0px;
}

#inputTile br {
	clear: left;
}

h2.formLabel {
	color: #666666;
	font-size: 12px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 10px;
	border-bottom: solid 1px #dedede;
}

#buttonTile button {
	margin: 25px 10px 0px 0px;
}