#inputTile label.firstColumn {
	float: left;
	width: 170px;
	text-align: right;
	margin-top: 5px;
	margin-bottom: 5px;
}

#inputTile label.generalLabel {
	text-align: right;
	margin-left: 5px;
}

#inputTile input {
	margin-left: 10px;
}

#inputTile select {
	margin-left: 10px;
}

#inputTile input.secondary {
	margin-left: 0px;
}

#inputTile select.serialNumbers {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 250px;
}

#inputTile .remove {
	margin-left: 180px;
	margin-bottom: 10px;
}

.clear {
	clear: left;
}

#buttonTile button {
	margin: 25px 10px 0px 0px;
}