.delete {
	width: 10px;
}

.select {
	width: 10px;
}

#requestsGridTile {
	overflow: auto;
}

#requestsGrid {
	width: 95%;
}

#selectionTile {
	margin-top: 10px;
	margin-bottom: 5px;
        padding: 20px 40px;
}

#filterTile {
    margin-top: 10px;
    margin-bottom: 10px;
}

#filterPanel {
    width: 95%;
}

#filterPanel input {
    margin-left: 10px;
}

#filterPanel_subject {
    color: white;
    background: none;
    background-color: #BBBBBB;
    width: 98%;
}

#filterPanel_toggler {
    
}

#filterPanel_content {
    border-color: #BBBBBB;
    border-width: 2px;
}
