<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<t:layout xmlns:t="http://tapestry.apache.org/schema/tapestry_5_0_0.xsd" activeMenu="sms">
    <h1 class="formHeader"> Adding new SMS </h1>
    
	<div>
		<t:form t:id="form">
	    	<t:errors/>
	    	
	    	<br/>
	    	
	    	<div id="inputTile">
				<label t:type="Label" t:id="phoneNumberLabel" t:for="phoneNumber">
					Phone number
					<span class="sublabel">of the recipient</span>
				</label>
				<input type="text" t:id="phoneNumber" size="25"/>

				<br/>

				<label t:type="Label" t:id="messageLabel" t:for="message">
					Message
					<span class="sublabel">max. 160 chars</span>
				</label>
				<t:textarea t:id="message" cols="60" rows="5"/>

				<br/>
	
		  		<button type="submit">Add</button>
				
				<!--  
					Create an eventlink around the button so the button works even when javascript
					is disabled (does not work with IE though)
				 -->
				<t:eventlink t:event="cancel" style="text-decoration: none">
					<button t:type="t5components/Button" type="button" t:event="cancel">Cancel</button>
		     	</t:eventlink>
	    	</div>
	    	
		</t:form>
	</div>
</t:layout>
