#inputTile label.firstColumn {
	float: left;
	width: 120px;
	text-align: right;
	margin-top: 5px;
	margin-bottom: 5px;
}

#inputTile input {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#inputTile select {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#inputTile button {
	margin: 5px 10px 0px 0px;
}

#inputTile br {
	clear: left;
}

.note {
	margin-top: 30px;
}

h2.formLabel {
	color: #666666;
	font-size: 12px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 10px;
	border-bottom: solid 1px #dedede;
}

.cronExamples {
	color: #666666;
	font-size: 11px;
}

.cronExamplesTh {
	color: #666666;
	font-size: 11px;
	text-align: left;
	width: 150px;
}

.cronExamplesTd {
	color: #666666;
	font-size: 11px;
}