#gridTile {
	margin-top: 5px;
	margin-bottom: 10px;
}

label.firstColumn {
	float: left;
	width: 150px;
	text-align: right;
	margin: 5px;
}

#buttonTile button {
	margin: 25px 10px 0px 0px;
}

.clear {
	clear: left;
}