#inputTile label {
	float: left;
	width: 120px;
	text-align: right;
	margin-top: 5px;
	margin-bottom: 5px;
}

#inputTile input {
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#balanceZone {
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#updateBalance {
	float: left;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#inputTile button {
	margin: 25px 10px 0px 0px;
}

#inputTile br {
	clear: left;
}

#errorMessage {
	color: red;
}