<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<t:layout xmlns:t="http://tapestry.apache.org/schema/tapestry_5_0_0.xsd" activeMenu="ca">

    <h1 class="formHeader"> Select CA </h1>

    <p class="padding">Select the CA you want to create a CRL for.</p> 

    <t:form t:id="form">
        <t:CACertificateSelect t:id="certificateSelect"/>
        
        <div id="buttonTile">
            <button type="submit">Select</button>
            
            <!--  
                Create an eventlink around the button so the button works even when javascript
                is disabled (does not work with IE though)
             -->
            <t:eventlink t:event="cancel" style="text-decoration: none">
                <button t:type="t5components/Button" type="button" t:event="cancel">Cancel</button>
            </t:eventlink>
        </div>
    </t:form>
    
</t:layout>
