body {
	margin: 50px 0px;
	padding: 0px;
	text-align: center;
}

#main {
	width: 600px;
	margin: 50px auto;
	text-align: left;
	padding: 15px;
	border: 1px dashed #333;
}

#labelTile label.firstColumn {
	float: left;
	width: 120px;
	text-align: right;
	margin-right: 10px;
	font-weight: bold;
}

#labelTile br {
	clear: left;
}

#gridTile {
	margin-top: 20px;
	overflow: auto;
}

#gridTitle {
	color: #666666;
	margin-bottom: 10px;
}

#buttonTile {
	margin-top: 20px;
}

#buttonTile input {
	margin-right: 10px;
}

#logo {
	float: right;
	margin: -12px;
}

#localeSelector {
	float: right;
	margin-top: -50px;
	margin-right: -15px;
}