#selectionTile {
	margin-top: 4px;
	margin-bottom: 4px;
        padding: 20px;
}

#filterPanel {
	width: 100%;
}

#filterPanel_subject {
	color: white;
	background: none;
	background-color: #BBBBBB;
	width: 98%;
}

#filterPanel_toggler {
	
}

#filterPanel_content {
	border-color: #BBBBBB;
	border-width: 2px;
}

#setFilterButton {
	margin-left: 10px;
}

#filterPanel_content div {
	margin-top: 10px;
	margin-bottom: 10px;
}

#filterPanel_content span label {
	float: left;
	width: 60px;
	text-align: right;
	margin-right: 10px;
	/* make sure the labels and inputs are aligned */
	line-height: 1.5em;
}

#filterPanel_content span span label {
	width: auto;
}

#filterPanel_content span span input {
	float: left;
	/* make sure the labels and inputs are aligned */
	line-height: 1.5em;
}

#filterPanel_content br {
	clear: left;
}

#content { /* give some room for the legend */
	padding-bottom: 25px;
}

#rowsPerPage {
	margin-left: 10px;
}