.certificate-not-trusted {
	background-color: #DDDDDD;
}

.certificate-revoked {
	background-color: #FCC;
}

.delete {
	width: 10px;
}

.select {
	width: 10px;
}

.certificategrid-no-matching-certificates {
	color: red;
}

.keyIcon {
	margin-left: 5px;
}

.whitelistedIcon {
	margin-left: 5px;
}

.blacklistedIcon {
	margin-left: 5px;
}

.certificategrid-expired {
	color: red;
	font-weight: bold;
}