.delete {
	width: 10px;
}

.select {
	width: 10px;
}

#jamesRepositoryGridTile {
	width: 100%;
	overflow: auto;
}

#selectionTile {
	margin-top: 10px;
	margin-bottom: 5px;
        padding: 20px 40px;
}