
html,body {
	margin: 0;
	padding: 0;
        font-family: "Source Sans Pro", sans-serif;
}

#content p {
	margin-bottom: 10px;
}

#container {
	padding: 10px;
	font-size: 0.8em;
}

#header {
	height: 60px;
	padding: 0px;
	border: 0px solid #000;
        margin: -10px;
	margin-bottom: 25px;
}

#navigation {
	float: left;
	width: 170px;
	padding: 10px;
	background-color: #e6e6e6;
	list-style: none;
	margin: 0;
	padding: 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
        font-family: "Source Sans Pro", sans-serif;
}

#navigation ul {
	margin: 0;
	padding: 5px;
}

.submenu {
	border: none;
	list-style: none;
}

/*
.submenu li {
	height: 35px;
}
*/

#submenu li a {
    font-weight: 300;
}

#content {
	margin-left: 180px;
	border: solid 1px #4c4c4c;
	padding: 0 0 10px;
	background-color: #e6e6e6;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
        width: 75%;
        max-width: 1087px;
}

#footer {
	background-color: #036;
	padding: 0px;
	border: 1px solid #000;
	margin-top: 20px;
	text-align: center;
}

#footer a:link {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#footer a:visited {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#footer a:hover {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#footer a:active {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#navigation a:link, #navigation a:hover {
	color: #333;
	text-decoration: none;
	line-height: 38px;
	font-size: 18px;
}

#navigation a:visited {
	color: #333;
	text-decoration: none;
}

/*
#navigation a:hover {
	color: #036;
	font-weight: bold;
	text-decoration: none;
}
*/
#navigation a:active {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#admin {
	text-align: right;
	margin-right: 5px;
	margin-top: 5px;
}

#javascriptDisabled {
	text-align: right;
	color: red;
	font-weight: bold;
}

#unlimitedStrength {
	text-align: right;
	color: red;
	font-weight: bold;
}

#menu ul {
	padding-left: 0;
	margin-left: 0;
	background-color: #202427;
	color: #f2f2f2;
	float: left;
	width: 100%;
	text-transform: capitalize;
	font-size: 18px;
	line-height: 53px;
}

#menu ul li {
	display: inline;
}

#menu ul li a {
	padding: 0.2em 1em;
	color: #f2f2f2;
	text-decoration: none;
	float: left;
	border-right: 1px solid #303233;
	font-weight: 300;
	padding-bottom: 5px;
	border-left: 1px solid #131415;
}

#menu ul li a:hover {
	background-color: #333;
	color: #f2f2f2;
}

#menu ul li.activeMenu a {
	padding-bottom: 5px;
}

#menu ul li a.disabledMenu {
	padding: 0.2em 1em;
	background-color: #036;
	color: #AAA;
	text-decoration: none;
	float: left;
	border-right: 1px solid #fff;
	font-weight: bold;
}


input[type="text"] {
    height: 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #bfbfbf;
    min-width: 220px;
}

h1.formHeader {
	color: #f2f2f2;
	margin:0 0 20px 0;
	border-bottom: solid 1px #dedede;
	padding: 10px;
	background: #303538;
}

h1.pageHeader {
	color: #f2f2f2;
	margin: 0 0 20px;
	border-bottom: solid 1px #dedede;
	padding: 10px;
        background: #303538;
}

button {
    padding: 20px 70px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #c1bfbf;
    background: #fbfbfb; /* Old browsers */
    background: -moz-linear-gradient(top,  #fbfbfb 0%, #e6e6e6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#e6e6e6));
    background: -webkit-linear-gradient(top,  #fbfbfb 0%,#e6e6e6 100%);
    background: -o-linear-gradient(top,  #fbfbfb 0%,#e6e6e6 100%); 
    background: -ms-linear-gradient(top,  #fbfbfb 0%,#e6e6e6 100%);
    background: linear-gradient(to bottom,  #fbfbfb 0%,#e6e6e6 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#e6e6e6',GradientType=0 );   
}

button:hover {
    background: #fbfbfb; /* Old browsers */
    background: -moz-linear-gradient(top,  #e6e6e6 0%, #fbfbfb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6), color-stop(100%,#fbfbfb));
    background: -webkit-linear-gradient(top,  #e6e6e6 0%,#fbfbfb 100%);
    background: -o-linear-gradient(top,  #e6e6e6 0%,#fbfbfb 100%); 
    background: -ms-linear-gradient(top,  #e6e6e6 0%,#fbfbfb 100%);
    background: linear-gradient(to bottom,  #e6e6e6 0%,#fbfbfb 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#fbfbfb',GradientType=0 );   
}

h2.formLabel {
	color: rgb(56, 56, 56);
	font-size: 24px;
	font-weight: bold;
	border-bottom: solid 1px #ababab;
	line-height: 48px;
	margin-left: 10px;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 200;
        text-transform: capitalize;
}

label {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    color: #222;
    width: 195px!important;
    margin-top: 0!important;
    margin-bottom: 10px!important;
}
label span {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    text-transform: lowercase;
}

#submenu li {
    border-bottom: 1px solid #c8c8c8;
    border-top: 1px solid #f2f2f2;
}

#submenu li.first {
    border-top: 0!important;
}

select {
    min-width: 220px;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid #bfbfbf;
}

DIV.tap5c_slidingpanel {
    width: 98%!important;
}

thead tr,
DIV.t-data-grid-pager SPAN.current{
    background-color: #333333!important;
}

#form,
#gridForm{
    padding: 20px;
}

#form #selectionTile {
    margin: 0;
    padding-top: 0;
}

#filterPanel_content {
    border: 0!important;
    width: 98%;
}

.send_logo {
    height: 62px;
    float: left;
    padding: 0 20px;
}

input[type="checkbox"] {
    height: 25px;
    width: 18px;
    border: 1px solid #bfbfbf;
    background: #ffffff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    vertical-align: middle;
    margin-top: 0!important;   
    
}

p.padding {padding:20px;}


@media (min-width:1330px){
    #header {height: 60px;}

}
@media (min-width:680px) and (max-width:1329px) {
    #header {height: 120px;}

}
@media (min-width:470px) and (max-width:679px) {
    #header {height: 170px;}
}

@media (max-width:469px){
    #header {height: 230px;}

}