#filterTile {
	margin-bottom: 10px;
}

.mss-not-trusted {
	background-color: #DDDDDD;
}

.mss-autoselect {
	background-color: #AAFFAA;
}

.mss-inherited {
	background-color: #FFFF88;
}

.mss-hidden {
	display: none;
}