html,body {
	height: 100%;
}

body {
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 100%;
}

h1 {
	font-size: 1.4em;
	padding: 10px 10px 0;
}

p {
	padding: 0 10px 1em;
}

#container {
	min-height: 100%;
	background-color: #DDD;
	width: 100%;
	margin: 0 auto;
}

* html #container {
	height: 100%;
}