body {
	margin: 2% auto;
	width: 600px;
}

#loggedInUser {
	text-align: right;
	margin-right: 5px;
	margin-top: 2px;
}

#javascriptDisabled {
	text-align: left;
	color: red;
	font-weight: bold;
	font-size: 80%;
}

#menu {
	font-size: 80%;
    width: 800px;
}

#menu ul li {
	display: inline;
}

#menu ul li a {
	padding: 0px 5px 2px 5px;
	margin: 0px 2px 0px 2px;
	color: #888;
	text-decoration: none;
	float: left;
	font-weight: bold;
}

#menu ul li a:hover {
	background-color: #369;
	color: white;
}

#menu ul li.activeMenu a {
	background-color: #369;
	color: white;
}

#content {
	margin-top: 25px;
}

#localeSelector {
	font-size: 80%;
}