.delete {
	width: 10px;
}

.select {
	width: 10px;
}

#postfixSpoolGridTile {
	width: 100%;
	overflow: auto;
}

#selectionTile {
	margin-top: 10px;
	margin-bottom: 5px;
        padding: 20px;
}

#rowsPerPage {
	margin-left: 10px;
}

#gridForm {
    padding: 20px;
}