#PostfixLogGridTile {
	width: 98%;
	overflow: auto;
        padding: 20px;
        
}

#PostfixLogGridTile td {
	white-space: pre;
}

#rowsPerPage {
	margin-left: 10px;
}

#PostfixLogGridTile TABLE.t-data-grid {
    width: 95% !important;
}