/* ================================================================ 
This copyright notice must be untouched at all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.cssplay.co.uk/menus/drop_examples.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the assocaited (x)html may be modified in any 
way to fit your requirements.
=================================================================== */
	/* commom style for all browsers */
.menu5 {
	display: inline;
	text-align: left;
	font-family: verdana, sans-serif;
	position: relative;
	font-size: 0.9em;
	height: 2.5em;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.menu5 ul {
	padding: 0;
	margin: 0;
	list-style-type: none; /* for Firefox */
}

.menu5 li {
	display: inline;
	float: none;
	position: relative;
}

.menu5 li a,.menu5 li a:visited {
	display: inline;
	text-decoration: none;
	width: 10em;
	color: #000;
	float: none;
	padding-right: 0;
	height: 3em;
	line-height: 3em;
	color: #036;
}

* html .menu5 li a,.menu5 li a:visited {
	width: 7em;
	w\idth: 6em; /* hack for IE5.5 */
}

.menu5 li a.drop,.menu5 li a.drop:visited {
	font-weight: bold;
}

.menu5 li ul {
	visibility: hidden;
	position: absolute;
	top: 2.5em;
	left: 0;
	height: 0;
	overflow: hidden;
}

.menu5 table {
	margin: -1px;
	border-collapse: collapse;
	font-size: 1em; /* font size for IE5.5 */
}

/* fist line style for IE7 and non-IE browsers and the second line for IE5.5 and IE6 */
.menu5 li:hover a,.menu5 li a:hover {
	text-decoration: none;
	border: 0;
}

.menu5 li:hover ul,.menu5 li a:hover ul {
	visibility: visible;
	height: auto;
	width: 10em;
	background: #F6F6F6;
	border: 1px solid #ddd;
	left: 0;
	top: 1.1em;
	overflow: visible;
}

.menu5 li:hover ul li a,.menu5 li a:hover ul li a {
	display: block;
	font-weight: normal;
	background: transparent;
	text-decoration: none;
	height: auto;
	line-height: 1.5em;
	padding: 0.5em;
	width: 9em;
}

* html .menu5 li a:hover ul li a {
	width: 10em;
	w\idth: 9em; /* hack for IE5.5 */
}

.menu5 li:hover ul li a.drop,.menu5 li a:hover ul li a.drop {
	font-weight: bold;
}

.menu5 li:hover ul li ul,.menu5 li a:hover ul li a ul {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 9.5em;
	height: 0;
	overflow: hidden;
}

.menu5 li:hover ul li a:hover,.menu5 li a:hover ul li a:hover {
	text-decoration: none;
	color: #0000CD;
}

.menu5 li:hover ul li:hover ul,.menu5 li a:hover ul li a:hover ul {
	visibility: visible;
	color: #000;
	border: 1px solid #ddd;
	height: auto;
	background: #fff;
	width: 9.5em;
}

.menu5 li:hover ul li:hover ul.left,.menu5 li a:hover ul li a:hover ul.left
	{
	left: -9.3em;
}

.menu5 li:hover ul li:hover ul li a,.menu5 li a:hover ul li a:hover ul li a
	{
	display: block;
	height: auto;
}

.menu5 li:hover ul li:hover ul li:hover a,.menu5 li a:hover ul li a:hover ul li a:hover
	{
	text-decoration: underline;
}