.delete {
	width: 10px;
}

.select {
	width: 10px;
}

#gridTile {
	overflow: auto;
}

#grid {
	width: 95%;
}

#selectionTile {
	margin-top: 10px;
	margin-bottom: 5px;
}

#filterTile {
	margin-top: 10px;
	margin-bottom: 10px;
}

#filterPanel {
	width: 95%;
}

#filterPanel input {
	margin-left: 10px;
}

#filterPanel_subject {
	color: white;
	background: none;
	background-color: #BBBBBB;
	width: 100%;
}

#filterPanel_toggler {
	
}

#filterPanel_content {
	border-color: #BBBBBB;
	border-width: 2px;
}

.tap5c_slidingpanel {
	width: 100%;
}

div div.tap5c_slidingPanelSubject {
	color: white;
	background: none;
	background-color: #BBBBBB;
	width: 98%;
}

.tap5c_slidingPanelSubject-toggler {
	
}

.tap5c_slidingPanelContent {
	border-color: #BBBBBB;
	border-width: 2px;
}

#filterPanel .tap5c_slidingPanelContent div {
	margin-top: 4px;
	margin-bottom: 4px;
}

.tap5c_slidingPanelContent div {
	margin-top: 4px;
	margin-bottom: 4px;
}

.tap5c_slidingPanelContent span label {
	float: left;
	width: 60px;
	text-align: right;
	margin-right: 10px;
	/* make sure the labels and inputs are aligned */
	line-height: 1.5em;
}

.tap5c_slidingPanelContent span span label {
	width: auto;
}

.tap5c_slidingPanelContent span span input {
	float: left;
	/* make sure the labels and inputs are aligned */
	line-height: 1.5em;
}

.tap5c_slidingPanelContent br {
	clear: left;
}

#applyFilterButton {
	margin-left: 10px;
}

#rowsPerPage {
	margin-left: 10px;
}