#filterForm {
	margin-top: 10px;
	margin-bottom: 10px;
}

#setFilterButton {
	margin-left: 15px;
	margin-right: 15px;
}

#filterPanel_content {
	border-color: #BBBBBB;
	border-width: 2px;
}

#filterPanel_subject {
	color: white;
	background: none;
	background-color: #BBBBBB;
	width: 98%;
}