#filterTile {
	margin-bottom: 10px;
}

#buttonTile button {
	margin: 25px 10px 0px 0px;
}

#selectionTile {
	margin-top: 10px;
	margin-bottom: 5px;
}

.sc-hidden {
	display: none;
}

.sc-inherited {
	background-color: #FFFF88;
}