/*
 * From http://www.cssplay.co.uk/menu/tooltips 
*/
a.tooltip {
	white-space: nowrap;
	color: #000;
	font-weight: normal;
}

a.tooltip b {
	display: none;
	white-space: normal;
}

a.tooltip:hover {
	border: 0;
	position: relative;
	z-index: 500;
	text-decoration: none;
	overflow: hidden;
	color: #000;
}

a.tooltip:hover b {
	display: block;
	position: absolute;
	top: 20px;
	left: -25px;
	padding: 5px;
	font-weight: normal;
	color: #000;
	border: 1px solid #AAA;
	background: #FFFF99;
}

a.tooltip:hover b em.outer {
	position: absolute;
	left: 20px;
	top: -8px;
	width: 0;
	height: 0;
	display: block;
	background: transparent;
	border-left: 7px dashed transparent;
	border-right: 7px dashed transparent;
	border-bottom: 7px solid #AAA;
	overflow: hidden;
	z-index: 100;
}

a.tooltip:hover b em.inner {
	position: absolute;
	left: 20px;
	top: -7px;
	width: 0;
	height: 0;
	display: block;
	background: transparent;
	border-left: 7px dashed transparent;
	border-right: 7px dashed transparent;
	border-bottom: 7px solid #FFFF99;
	overflow: hidden;
	z-index: 100;
}