<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<t:container xmlns:t="http://tapestry.apache.org/schema/tapestry_5_0_0.xsd">
	<t:PropertyEdit t:id="propertyEdit">
		<span class="propertyEdit-value">
			<label t:type="Label" t:id="label" t:for="field" class="propertyEdit-property-label"> ${property} </label>
			<input type="text" t:id="field" value="value"/>  ${prefix}
		</span>
	</t:PropertyEdit>
</t:container>
