<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<div id="userPropertiesEditContainer" xmlns:t="http://tapestry.apache.org/schema/tapestry_5_0_0.xsd">
    <h2 class="propertyEdit">BlackBerry</h2>
    <t:BooleanPropertyEdit t:id="blackberryRecipient" property="Recipient uses add-on"/>
    <br class="propertyEdit"/>
    <t:BooleanPropertyEdit t:id="stripUnsupportedFormats" property="Strip unsupported formats"/>
    <br class="propertyEdit"/>
    
    <h2 class="propertyEdit">Relay</h2>
    <t:BooleanPropertyEdit t:id="relayAllowed" property="Relay allowed"/>
    <br class="propertyEdit"/>
    <t:LongPropertyEdit t:id="relayValidityInterval" property="Relay validity interval"  prefix="(min)"/>
    <br class="propertyEdit"/>
    <t:RelayBounceModePropertyEdit t:id="relayBounceMode" property="Bounce mode"/>
    <br class="propertyEdit"/>
    <t:if test="prop:relayBlock">
        <t:delegate to="prop:relayBlock" />
    </t:if>            
</div>