<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<div id="userPropertiesEditContainer" xmlns:t="http://tapestry.apache.org/schema/tapestry_5_0_0.xsd">
    <h2 class="propertyEdit">Portal settings</h2>
    <t:PasswordPropertyEdit t:id="portalPassword" property="Password"/>
    <br class="propertyEdit"/>
    <t:BooleanPropertyEdit t:id="portalEnabled" property="Enabled"/>
    <br class="propertyEdit"/>
    <t:BooleanPropertyEdit t:id="portalAutoInvite" property="Auto invite"/>
    <br class="propertyEdit"/>
    <t:if test="prop:additionalBlock">
        <t:delegate to="prop:additionalBlock" />
    </t:if>            
</div>