<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<t:container xmlns:t="http://tapestry.apache.org/schema/tapestry_5_0_0.xsd">
	<t:body/>
	<input type="checkbox" t:id="checkbox" value="checked"/>
	<label t:type="Label" t:for="checkbox"> inherit </label>
</t:container>
