#inputTile label {
	float: left;
	width: 100px;
	text-align: right;
	margin-top: 0px;
}

#inputTile input {
	margin-left: 10px;
}

#inputTile button {
	margin: 25px 10px 0px 15px;
}

#inputTile br {
	clear: left;
}