.propertyEdit-property-label {
	float: left;
	width: 150px;
	text-align: right;
	margin: 2px 15px 0px 5px;
}

.propertyEdit-value {
	width: 450px;
	float: left;
	margin-top: 1px;
	margin-bottom: 1px;
}

h2.propertyEdit {
	color: #666666;
	font-size: 12px;
	font-weight: bold;
	margin-top: 10px;
}

br.propertyEdit {
	clear: both;
}