.propertyEdit-property-label {
	float: left;
	width: 170px;
	text-align: right;
	margin: 2px 15px 0px 5px;
}

.propertyEdit-value {
	width: 480px;
	float: left;
	margin-top: 1px;
	margin-bottom: 1px;
}

h2.propertyEdit {
	color: #333;
	font-size: 24px;
        line-height: 48px;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 200;
        border-bottom: 1px solid #999;
        margin-bottom: 20px;
} 

br.propertyEdit {
	clear: both;
}

#userPropertiesEditContainer {
    padding: 20px;
}