<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<t:layout xmlns:t="http://tapestry.apache.org/schema/tapestry_5_0_0.xsd" activeMenu="certificates">
    <h1 class="formHeader"> Import Private Keys </h1>

    <t:if test="prop:importError" else="prop:infoBlock">
	    <p class="message-error">
    	The private key file could not be imported. Cause: ${importErrorMessage}
    	</p>
    </t:if>
    
    <t:block t:id="infoBlockPlural">
	    <p class="message-info">
	      ${importCount} entries were imported 
	    </p>
	</t:block>

    <t:block t:id="infoBlockSingular">
	    <p class="message-info">
	      ${importCount} entry was imported
	    </p>
	</t:block>

	<div>
		<t:form t:id="importForm">
	    	<t:errors/>
	    	
	    	<br/>
	    	
	    	<div id="inputTile">
				<label t:type="Label" t:id="uploadLabel" t:for="upload">
					Private key file
					<span class="sublabel">private key file (.pfx/.p12)</span>
				</label>
				<input t:type="upload" t:id="upload"/>
	
				<br/>

				<label t:type="Label" t:id="passwordLabel" t:for="password">
					Password
					<span class="sublabel">private key file password</span>
				</label>
				<input t:type="password" t:id="password" t:autocomplete="off"/>
	
				<br/>
	
		    	<label>
					Missing private key
					<span class="sublabel">skip certificate only entries</span>
				</label>
				<span>			
					<input t:type="Checkbox" t:id="ignoreMissingKey"/>
					<label t:type="Label" t:id="ignoreMissingKeyLabel" t:for="ignoreMissingKey">
						skip
					</label>
				</span>

				<br/>
	
				<div id="buttonTile">
			  		<button type="submit">Import</button>
					
					<!--  
						Create an eventlink around the button so the button works even when javascript
						is disabled (does not work with IE though)
					 -->
					<t:eventlink t:event="cancel" style="text-decoration: none">
						<button t:type="t5components/Button" type="button" t:event="cancel">Close</button>
			     	</t:eventlink>
			     </div>
			</div>
		</t:form>
	</div>
	
</t:layout>
