<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<t:layout xmlns:t="http://tapestry.apache.org/schema/tapestry_5_0_0.xsd"
		activeMenu="${ognl:getStore().toString().equals('CERTIFICATES') ? 'certificates' : 'roots'}" 
		left="block:additionalMenu">
    <h1 class="formHeader"> 
    	Certificate info
        <t:if t:test="prop:privateKeyAvailable">
            <img class="keyIcon" src="${keyAsset}" title="private key available"/>
        </t:if>
        
        <t:unless t:test="prop:privateKeyAccessible">
            <img class="keyIcon" src="${keyNotAccessibleAsset}" title="private key is not accessible"/>
        </t:unless>        
    </h1>

    <t:block t:id="certificateNotFoundErrorBlock">
	    <p class="message-error">
	      Certificate not found 
	    </p>
	</t:block>

	<t:block t:id="additionalMenu">
	</t:block>
    
	<t:if test="prop:certificate" else="block:certificateNotFoundErrorBlock">
   		<t:actionlink t:id="downloadCertificate" title="download this certificate as .cer file">
   			download certificate
   		</t:actionlink>
   		<t:if t:test="${ognl:getStore().toString().equals('CERTIFICATES')}">
	        |
	        <t:actionlink t:id="usage" title="check whether this certificate is in use">
	            usage
	        </t:actionlink>
        </t:if>
        <t:IfRole t:ifAnyGranted="ROLE_ADMIN,ROLE_PKI_MANAGER">     
	        <t:if t:test="showAddToCTL">
	            |
	            <t:pagelink t:page="ctl/add" t:context="certificate.thumbprint" title="add this certificate to the Certificate Trust List">
	                add to CTL
	            </t:pagelink>
	        </t:if>
        </t:IfRole>
                	
		<div>
			<t:beandisplay t:id="certificateDisplay" object="certificate" exclude="certificateType">
                <t:parameter name="issuer">
                    <t:if test="issuerCertificateAvailable" negate="true">
                        <span>${certificate.issuer}</span>
                    </t:if>
                    <t:if test="issuerCertificateAvailable">
                        <a href="${issuerCertificateLink}" title="View issuer certificate"><span>${certificate.issuer}</span></a>                            
                    </t:if>
                </t:parameter>

                <t:parameter name="ctlStatus">
                    <span>${CTLStatus}</span>
                </t:parameter>

                <t:parameter name="info">
                    <span class="cerificateview-trustinfo">${certificateValidatorResult.failureMessage}</span>
                </t:parameter>
			</t:beandisplay>
		</div>
	</t:if>
	
</t:layout>
