<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<t:layout xmlns:t="http://tapestry.apache.org/schema/tapestry_5_0_0.xsd" activeMenu="dlp">

    <h1 class="formHeader">
        Add child patterns to group: <t:RestrictLength t:value="prop:name" t:maxLength="80" />
    </h1>

    <t:if t:test="prop:error">
        <p class="message-error">
          An error occurred. Message: ${errorMessage}
        </p>    
    </t:if>

    <t:form t:id="form">

        <t:errors/>
        
        <div id="inputTile">
        
            <label class="firstColumn">
                Patterns
                <span class="sublabel">child patterns</span>
            </label>
            <div id="childsTile">
                <t:DLPPatternGrid t:id="patternGrid" t:deleteTitle="Remove pattern"/>
            </div>        
            <br/>
        
            <div id="buttonTile">
                <button type="submit" title="Add the selected patterns to the group">Add Selected</button>
                
                <!--  
                    Create an eventlink around the button so the button works even when javascript
                    is disabled (does not work with IE though)
                 -->
                <t:eventlink t:event="cancel" style="text-decoration: none">
                    <button t:type="t5components/Button" type="button" t:event="cancel">
                        Cancel
                    </button>
                </t:eventlink>
            </div>
        </div>        
    </t:form>
</t:layout>
