<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<t:layout xmlns:t="http://tapestry.apache.org/schema/tapestry_5_0_0.xsd" activeMenu="dlp">

    <h1 class="formHeader">
        Policy pattern usage for pattern: <t:RestrictLength t:value="prop:patternName" t:maxLength="80" />
    </h1>

    <t:if t:test="prop:error">
        <p class="message-error">
          An error occurred. Message: ${errorMessage}
        </p>    
    </t:if>

    <h3 class="pageFontColor">
    The pattern is used by the following users, domains, global settings and/or patterns*:
    </h3>

    <t:block t:id="notInUseBlock">
        <p class="notInUse">
            The pattern is not used
        </p>
    </t:block>
    
    <div id="patternTile">
		<t:grid t:id="grid" t:pagerPosition="both" id="grid" t:empty="block:notInUseBlock">
	        <t:parameter name="categoryCell">
		        <t:DHTMLToolTip t:value="prop:usage.category" t:minLength="40">
		            <t:RestrictLength t:value="prop:usage.category"
		                t:maxLength="40" />
		        </t:DHTMLToolTip>
	        </t:parameter>
	        <t:parameter name="nameCell">
	            <t:DHTMLToolTip t:value="prop:usage.name" t:minLength="80">
	                <t:RestrictLength t:value="prop:usage.name"
	                    t:maxLength="80" />
	            </t:DHTMLToolTip>
	        </t:parameter>
		</t:grid>
    </div>
    	
    <p class="note">        
    * Only the first 100 items are shown. 
    </p>	
</t:layout>
