<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<t:PortalLayout xmlns:t="http://tapestry.apache.org/schema/tapestry_5_0_0.xsd" 
    activeMenu="about" title="literal:About DJIGZO Email Encryption Gateway">

    <div id="logo"><a href="http://www.djigzo.com" onclick="target='_blank'"><img src="${logoAsset}"/></a></div>
    <p>
    <t:if test="version"><span id="version"> Version: ${version}</span>.</t:if>
            <t:if test="built"><span id="built"> Built: ${built}</span>.</t:if>
    </p>
    <h3>Copyright &copy; DJIGZO 2008-2012. AGPLv3 Licensed.</h3> 
</t:PortalLayout>