<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<t:BasicLayout xmlns:t="http://tapestry.apache.org/schema/tapestry_5_0_0.xsd"
    title="${message:page-title}">
    
    <div id="dialog-content">
         <fieldset id="dialog">
             <h1><img src="${asset:context:/icons/exclamation.png}"/>${message:page-header}</h1>
             <p></p>
             ${message:body-text}
         </fieldset>
    </div>
</t:BasicLayout>