#uploadTile {
	margin-left: 20px;
}

#uploadTile #addAttachment {
	margin-left: 20px;
}

#uploadTile label.firstColumn {
	float: left;
	width: 150px;
	text-align: right;
	margin-right: 15px;
}

#uploadTile input {
	float: left;
}

.loading {
	vertical-align: middle;
	margin-left: 5px;
	margin-top: 4px;
}

.loading-invisible {
	visibility: hidden;
}

#attachmentTile {
	margin-left: 10px;
	margin-bottom: 5px;
}

#attachmentTile dl {
	margin-top: 5px;
	margin-left: 0px;
}

#attachmentTile dd {
	margin-top: 0px;
	margin-left: 10px;
}

#attachmentTile dl dd a {
	vertical-align: middle;
	margin-left: 5px;
}

#attachmentTile dd div {
	display: inline;
}