html,body {
	height: 100%;
}

#container {
	overflow: hidden;
	min-height: 100%;
	max-width: 800px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	padding: 10px;
	border-color: #EEE;
}

* html #container {
	height: 100%;
}

#headers {
	padding-top: 10px;
	padding-bottom: 5px;
	margin-bottom: 15px;
	border-bottom-style: solid;
	border-color: #999;
	color: #222;
	font-size: 120%;
	font-family: courier;
}

.headername {
	text-align: right;
	font-weight: bold;
	color: #888;
	margin-right: 10px;
}

#attachmentsFrame {
	width: 100%;
	height: 120px;
	border: none;
}

#bodyContent {
	margin-left: 20px;
}

#bodyContent textarea {
	width: 98%;
	margin-top: 5px;
	border-color: #999;
}

#buttons {
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#buttons input {
	margin-right: 10px;
}

#logo {
	float: right;
	margin-right: 5px;
}

#localeSelector {
    float: right;
}