.cl-aliceblue {
	color: aliceblue;
}

.cl-antiquewhite {
	color: antiquewhite;
}

.cl-aqua {
	color: aqua;
}

.cl-aquamarine {
	color: aquamarine;
}

.cl-azure {
	color: azure;
}

.cl-beige {
	color: beige;
}

.cl-bisque {
	color: bisque;
}

.cl-black {
	color: black
}

.cl-blanchedalmond {
	color: blanchedalmond;
}

.cl-blue {
	color: blue;
}

.cl-blueviolet {
	color: blueviolet;
}

.cl-brown {
	color: brown;
}

.cl-burlywood {
	color: burlywood;
}

.cl-cadetblue {
	color: cadetblue;
}

.cl-chartreuse {
	color: chartreuse;
}

.cl-chocolate {
	color: chocolate;
}

.cl-coral {
	color: coral;
}

.cl-cornflowerblue {
	color: cornflowerblue;
}

.cl-cornsilk {
	color: cornsilk;
}

.cl-crimson {
	color: crimson;
}

.cl-cyan {
	color: cyan;
}

.cl-darkblue {
	color: darkblue;
}

.cl-darkcyan {
	color: darkcyan;
}

.cl-darkgoldenrod {
	color: darkgoldenrod;
}

.cl-darkgray {
	color: darkgray;
}

.cl-darkgreen {
	color: darkgreen;
}

.cl-darkkhaki {
	color: darkkhaki;
}

.cl-darkmagenta {
	color: darkmagenta;
}

.cl-darkolivegreen {
	color: darkolivegreen;
}

.cl-darkorange {
	color: darkorange;
}

.cl-darkorchid {
	color: darkorchid;
}

.cl-darkred {
	color: darkred;
}

.cl-darksalmon {
	color: darksalmon;
}

.cl-darkseagreen {
	color: darkseagreen;
}

.cl-darkslateblue {
	color: darkslateblue;
}

.cl-darkslategray {
	color: darkslategray;
}

.cl-darkturquoise {
	color: darkturquoise;
}

.cl-darkviolet {
	color: darkviolet;
}

.cl-deeppink {
	color: deeppink;
}

.cl-deepskyblue {
	color: deepskyblue;
}

.cl-dimgray {
	color: dimgray;
}

.cl-dodgerblue {
	color: dodgerblue;
}

.cl-firebrick {
	color: firebrick;
}

.cl-floralwhite {
	color: floralwhite;
}

.cl-orestgreen {
	color: orestgreen;
}

.cl-fuchsia {
	color: fuchsia;
}

.cl-gainsboro {
	color: gainsboro;
}

.cl-ghostwhite {
	color: ghostwhite;
}

.cl-gold {
	color: gold;
}

.cl-goldenrod {
	color: goldenrod;
}

.cl-gray {
	color: gray;
}

.cl-green {
	color: green;
}

.cl-greenyellow {
	color: greenyellow;
}

.cl-honeydew {
	color: honeydew;
}

.cl-hotpink {
	color: hotpink;
}

.cl-indianred {
	color: indianred;
}

.cl-indigo {
	color: indigo;
}

.cl-ivory {
	color: ivory;
}

.cl-khaki {
	color: khaki;
}

.cl-lavender {
	color: lavender;
}

.cl-lavenderblush {
	color: lavenderblush;
}

.cl-lawngreen {
	color: lawngreen;
}

.cl-lemonchiffon {
	color: lemonchiffon;
}

.cl-lightblue {
	color: lightblue;
}

.cl-lightcoral {
	color: lightcoral;
}

.cl-lightcyan {
	color: lightcyan;
}

.cl-lightgoldenrodyellow {
	color: lightgoldenrodyellow;
}

.cl-lightgreen {
	color: lightgreen;
}

.cl-lightgrey {
	color: lightgrey;
}

.cl-lightpink {
	color: lightpink;
}

.cl-lightsalmon {
	color: lightsalmon;
}

.cl-lightseagreen {
	color: lightseagreen;
}

.cl-lightskyblue {
	color: lightskyblue;
}

.cl-lightslategray {
	color: lightslategray;
}

.cl-lightsteelblue {
	color: lightsteelblue;
}

.cl-lightyellow {
	color: lightyellow;
}

.cl-lime {
	color: lime;
}

.cl-limegreen {
	color: limegreen;
}

.cl-linen {
	color: linen;
}

.cl-magenta {
	color: magenta;
}

.cl-maroon {
	color: maroon;
}

.cl-mediumaquamarine {
	color: mediumaquamarine;
}

.cl-mediumblue {
	color: mediumblue;
}

.cl-mediumorchid {
	color: mediumorchid;
}

.cl-mediumpurple {
	color: mediumpurple;
}

.cl-mediumseagreen {
	color: mediumseagreen;
}

.cl-mediumslateblue {
	color: mediumslateblue;
}

.cl-mediumspringgreen {
	color: mediumspringgreen;
}

.cl-mediumturquoise {
	color: mediumturquoise;
}

.cl-mediumvioletred {
	color: mediumvioletred;
}

.cl-midnightblue {
	color: midnightblue;
}

.cl-mintcream {
	color: mintcream;
}

.cl-mistyrose {
	color: mistyrose;
}

.cl-occasin {
	color: occasin;
}

.cl-navajowhite {
	color: navajowhite;
}

.cl-navy {
	color: navy;
}

.cl-oldlace {
	color: oldlace;
}

.cl-olive {
	color: olive;
}

.cl-olivedrab {
	color: olivedrab;
}

.cl-orange {
	color: orange;
}

.cl-orangered {
	color: orangered;
}

.cl-orchid {
	color: orchid;
}

.cl-palegoldenrod {
	color: palegoldenrod;
}

.cl-palegreen {
	color: palegreen;
}

.cl-paleturquoise {
	color: paleturquoise;
}

.cl-palevioletred {
	color: palevioletred;
}

.cl-papayawhip {
	color: papayawhip;
}

.cl-peachpuff {
	color: peachpuff;
}

.cl-peru {
	color: peru;
}

.cl-pink {
	color: pink;
}

.cl-plum {
	color: plum;
}

.cl-powderblue {
	color: powderblue;
}

.cl-purple {
	color: purple;
}

.cl-red {
	color: red;
}

.cl-rosybrown {
	color: rosybrown;
}

.cl-royalblue {
	color: royalblue;
}

.cl-saddlebrown {
	color: saddlebrown;
}

.cl-salmon {
	color: salmon;
}

.cl-sandybrown {
	color: sandybrown;
}

.cl-seagreen {
	color: seagreen;
}

.cl-seashell {
	color: seashell;
}

.cl-sienna {
	color: sienna;
}

.cl-silver {
	color: silver;
}

.cl-skyblue {
	color: skyblue;
}

.cl-slateblue {
	color: slateblue;
}

.cl-slategray {
	color: slategray;
}

.cl-snow {
	color: snow;
}

.cl-springgreen {
	color: springgreen;
}

.cl-steelblue {
	color: steelblue;
}

.cl-tan {
	color: tan;
}

.cl-teal {
	color: teal;
}

.cl-thistle {
	color: thistle;
}

.cl-tomato {
	color: tomato;
}

.cl-turquoise {
	color: turquoise;
}

.cl-violet {
	color: violet;
}

.cl-wheat {
	color: wheat;
}

.cl-white {
	color: white;
}

.cl-whitesmoke {
	color: whitesmoke;
}

.cl-yellow {
	color: yellow;
}

.cl-yellowgreen {
	color: yellowgreen;
}

.bgc-aliceblue {
	background-color: aliceblue;
}

.bgc-antiquewhite {
	background-color: antiquewhite;
}

.bgc-aqua {
	background-color: aqua;
}

.bgc-aquamarine {
	background-color: aquamarine;
}

.bgc-azure {
	background-color: azure;
}

.bgc-beige {
	background-color: beige;
}

.bgc-bisque {
	background-color: bisque;
}

.bgc-black {
	background-color: black
}

.bgc-blanchedalmond {
	background-color: blanchedalmond;
}

.bgc-blue {
	background-color: blue;
}

.bgc-blueviolet {
	background-color: blueviolet;
}

.bgc-brown {
	background-color: brown;
}

.bgc-burlywood {
	background-color: burlywood;
}

.bgc-cadetblue {
	background-color: cadetblue;
}

.bgc-chartreuse {
	background-color: chartreuse;
}

.bgc-chocolate {
	background-color: chocolate;
}

.bgc-coral {
	background-color: coral;
}

.bgc-cornflowerblue {
	background-color: cornflowerblue;
}

.bgc-cornsilk {
	background-color: cornsilk;
}

.bgc-crimson {
	background-color: crimson;
}

.bgc-cyan {
	background-color: cyan;
}

.bgc-darkblue {
	background-color: darkblue;
}

.bgc-darkcyan {
	background-color: darkcyan;
}

.bgc-darkgoldenrod {
	background-color: darkgoldenrod;
}

.bgc-darkgray {
	background-color: darkgray;
}

.bgc-darkgreen {
	background-color: darkgreen;
}

.bgc-darkkhaki {
	background-color: darkkhaki;
}

.bgc-darkmagenta {
	background-color: darkmagenta;
}

.bgc-darkolivegreen {
	background-color: darkolivegreen;
}

.bgc-darkorange {
	background-color: darkorange;
}

.bgc-darkorchid {
	background-color: darkorchid;
}

.bgc-darkred {
	background-color: darkred;
}

.bgc-darksalmon {
	background-color: darksalmon;
}

.bgc-darkseagreen {
	background-color: darkseagreen;
}

.bgc-darkslateblue {
	background-color: darkslateblue;
}

.bgc-darkslategray {
	background-color: darkslategray;
}

.bgc-darkturquoise {
	background-color: darkturquoise;
}

.bgc-darkviolet {
	background-color: darkviolet;
}

.bgc-deeppink {
	background-color: deeppink;
}

.bgc-deepskyblue {
	background-color: deepskyblue;
}

.bgc-dimgray {
	background-color: dimgray;
}

.bgc-dodgerblue {
	background-color: dodgerblue;
}

.bgc-firebrick {
	background-color: firebrick;
}

.bgc-floralwhite {
	background-color: floralwhite;
}

.bgc-orestgreen {
	background-color: orestgreen;
}

.bgc-fuchsia {
	background-color: fuchsia;
}

.bgc-gainsboro {
	background-color: gainsboro;
}

.bgc-ghostwhite {
	background-color: ghostwhite;
}

.bgc-gold {
	background-color: gold;
}

.bgc-goldenrod {
	background-color: goldenrod;
}

.bgc-gray {
	background-color: gray;
}

.bgc-green {
	background-color: green;
}

.bgc-greenyellow {
	background-color: greenyellow;
}

.bgc-honeydew {
	background-color: honeydew;
}

.bgc-hotpink {
	background-color: hotpink;
}

.bgc-indianred {
	background-color: indianred;
}

.bgc-indigo {
	background-color: indigo;
}

.bgc-ivory {
	background-color: ivory;
}

.bgc-khaki {
	background-color: khaki;
}

.bgc-lavender {
	background-color: lavender;
}

.bgc-lavenderblush {
	background-color: lavenderblush;
}

.bgc-lawngreen {
	background-color: lawngreen;
}

.bgc-lemonchiffon {
	background-color: lemonchiffon;
}

.bgc-lightblue {
	background-color: lightblue;
}

.bgc-lightcoral {
	background-color: lightcoral;
}

.bgc-lightcyan {
	background-color: lightcyan;
}

.bgc-lightgoldenrodyellow {
	background-color: lightgoldenrodyellow;
}

.bgc-lightgreen {
	background-color: lightgreen;
}

.bgc-lightgrey {
	background-color: lightgrey;
}

.bgc-lightpink {
	background-color: lightpink;
}

.bgc-lightsalmon {
	background-color: lightsalmon;
}

.bgc-lightseagreen {
	background-color: lightseagreen;
}

.bgc-lightskyblue {
	background-color: lightskyblue;
}

.bgc-lightslategray {
	background-color: lightslategray;
}

.bgc-lightsteelblue {
	background-color: lightsteelblue;
}

.bgc-lightyellow {
	background-color: lightyellow;
}

.bgc-lime {
	background-color: lime;
}

.bgc-limegreen {
	background-color: limegreen;
}

.bgc-linen {
	background-color: linen;
}

.bgc-magenta {
	background-color: magenta;
}

.bgc-maroon {
	background-color: maroon;
}

.bgc-mediumaquamarine {
	background-color: mediumaquamarine;
}

.bgc-mediumblue {
	background-color: mediumblue;
}

.bgc-mediumorchid {
	background-color: mediumorchid;
}

.bgc-mediumpurple {
	background-color: mediumpurple;
}

.bgc-mediumseagreen {
	background-color: mediumseagreen;
}

.bgc-mediumslateblue {
	background-color: mediumslateblue;
}

.bgc-mediumspringgreen {
	background-color: mediumspringgreen;
}

.bgc-mediumturquoise {
	background-color: mediumturquoise;
}

.bgc-mediumvioletred {
	background-color: mediumvioletred;
}

.bgc-midnightblue {
	background-color: midnightblue;
}

.bgc-mintcream {
	background-color: mintcream;
}

.bgc-mistyrose {
	background-color: mistyrose;
}

.bgc-occasin {
	background-color: occasin;
}

.bgc-navajowhite {
	background-color: navajowhite;
}

.bgc-navy {
	background-color: navy;
}

.bgc-oldlace {
	background-color: oldlace;
}

.bgc-olive {
	background-color: olive;
}

.bgc-olivedrab {
	background-color: olivedrab;
}

.bgc-orange {
	background-color: orange;
}

.bgc-orangered {
	background-color: orangered;
}

.bgc-orchid {
	background-color: orchid;
}

.bgc-palegoldenrod {
	background-color: palegoldenrod;
}

.bgc-palegreen {
	background-color: palegreen;
}

.bgc-paleturquoise {
	background-color: paleturquoise;
}

.bgc-palevioletred {
	background-color: palevioletred;
}

.bgc-papayawhip {
	background-color: papayawhip;
}

.bgc-peachpuff {
	background-color: peachpuff;
}

.bgc-peru {
	background-color: peru;
}

.bgc-pink {
	background-color: pink;
}

.bgc-plum {
	background-color: plum;
}

.bgc-powderblue {
	background-color: powderblue;
}

.bgc-purple {
	background-color: purple;
}

.bgc-red {
	background-color: red;
}

.bgc-rosybrown {
	background-color: rosybrown;
}

.bgc-royalblue {
	background-color: royalblue;
}

.bgc-saddlebrown {
	background-color: saddlebrown;
}

.bgc-salmon {
	background-color: salmon;
}

.bgc-sandybrown {
	background-color: sandybrown;
}

.bgc-seagreen {
	background-color: seagreen;
}

.bgc-seashell {
	background-color: seashell;
}

.bgc-sienna {
	background-color: sienna;
}

.bgc-silver {
	background-color: silver;
}

.bgc-skyblue {
	background-color: skyblue;
}

.bgc-slateblue {
	background-color: slateblue;
}

.bgc-slategray {
	background-color: slategray;
}

.bgc-snow {
	background-color: snow;
}

.bgc-springgreen {
	background-color: springgreen;
}

.bgc-steelblue {
	background-color: steelblue;
}

.bgc-tan {
	background-color: tan;
}

.bgc-teal {
	background-color: teal;
}

.bgc-thistle {
	background-color: thistle;
}

.bgc-tomato {
	background-color: tomato;
}

.bgc-turquoise {
	background-color: turquoise;
}

.bgc-violet {
	background-color: violet;
}

.bgc-wheat {
	background-color: wheat;
}

.bgc-white {
	background-color: white;
}

.bgc-whitesmoke {
	background-color: whitesmoke;
}

.bgc-yellow {
	background-color: yellow;
}

.bgc-yellowgreen {
	background-color: yellowgreen;
}