.nullRow {
	display: none;
}

a.gridLink {
	font-weight: normal;
}

a.gridLink:hover {
	text-decoration: underline;
}

.certificateGrid {
	overflow: auto;
        width: 98%;
}

.cellCenter {
	text-align: center
}

.legend-box {
	float: right;
	margin-top: 5px;
}

.legend {
	width: 15px;
	height: 15px;
	display: -moz-inline-box;
	display: inline-block;
	margin-right: 2px;
	margin-left: 4px;
}

.legend-valid {
	background: #FFFFFF;
	border-style: solid;
	border-width: 1px;
}

.legend-invalid {
	background: #000000;
}

.legend-autoselect {
	background: #AAFFAA;
}

.legend-inherited {
	background: #FFFF88;
}

.legend-revoked {
	background: #FF0000;
}