#dialog-content {
	margin: 5% auto;
	width: 500px;
	padding: 14px;
}

#dialog {
	border: solid 2px #DDD;
}

#dialog h1 {
	font-weight: bold;
	margin-bottom: 8px;
}

#dialog h2 {
	color: #666666;
	margin-top: 10px;
	margin-bottom: 10px;
}

#dialog p {
	color: #666666;
	margin-bottom: 20px;
	border-bottom: solid 1px #dedede;
	padding-bottom: 10px;
}

#dialog label {
	display: block;
	font-weight: bold;
	text-align: right;
	width: 140px;
	float: left;
}

#dialog ul {
	list-style-type: disc;
	margin: 20px;
}