
body {
	font-family: "Source Sans Pro", sans-serif;
}

/*
 * workaround for bug https://issues.apache.org/jira/browse/TAPESTRY-2578. Remove when fixed
 */
DL.t-beandisplay DD:after {
	content: " ";
}

DL.t-beandisplay DD {
	white-space: pre;
}

h1 {
	font-size: 18px;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 14px;
}

h4 {
	font-size: 12px;
}

h5 {
	font-size: 12px;
}

h6 {
	font-size: 12px;
}

p {
	margin-bottom: 1.2em;
}

td {
	white-space: nowrap;
}

button {
	background: #f2f2f2;
	color: #000000;
	border: solid 1px #aaa;
	font-size: 18px;
	padding: 20px 70px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-weight: bold;
}
button:hover {
    background: #fbfbfb; /* Old browsers */
    background: -moz-linear-gradient(top,  #e6e6e6 0%, #fbfbfb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6), color-stop(100%,#fbfbfb));
    background: -webkit-linear-gradient(top,  #e6e6e6 0%,#fbfbfb 100%);
    background: -o-linear-gradient(top,  #e6e6e6 0%,#fbfbfb 100%); 
    background: -ms-linear-gradient(top,  #e6e6e6 0%,#fbfbfb 100%);
    background: linear-gradient(to bottom,  #e6e6e6 0%,#fbfbfb 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#fbfbfb',GradientType=0 );   
}

button[disabled] {
	background: #DDDDDD;
}

a:link {
	color: #777777;
	font-weight: bold;
	text-decoration: none;
}

a:visited {
	color: #777777;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}

a:active {
	color: #777777;
	font-weight: bold;
	text-decoration: none;
}

a:link .restart {
	color: #FFF;
	font-weight: bold;
	text-decoration: underline;
	font-size: larger;
}

a:visited .restart {
	color: #FFF;
	font-weight: bold;
	text-decoration: underline;
	font-size: larger;
}

a:hover .restart {
	color: #000;
	font-weight: bold;
	text-decoration: none;
	font-size: larger;
}

a:active .restart {
	color: #000;
	font-weight: bold;
	text-decoration: none;
	font-size: larger;
}

h1.formHeader {
	color: #f2f2f2;
	margin-bottom: 20px;
	border-bottom: solid 1px #dedede;
	padding: 10px;
	background: #303538;
}

h1.pageHeader {
	color: #666666;
	margin-bottom: 20px;
	border-bottom: solid 1px #dedede;
	padding-bottom: 10px;
}

.fw-bold {
	font-weight: bold;
}

.spacer {
	clear: both;
	height: 1px;
}

.clear-left {
	clear: left;
}

.clear-both {
	clear: both;
}

.note {
	margin-top: 10px;
	color: #666666;
}

.sublabel {
	color: #666666;
	display: block;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
}

.footnote {
	color: #666666;
	display: block;
	font-size: 11px;
	font-weight: normal;
	text-align: left;
}

.pageFontColor {
	color: #666666;
        padding: 20px;
}

.highlight-filter {
    background-color: #FFFF00;	    	
}

.t-data-grid tbody tr:hover td {
	background: #d0dafd;
	color: #339;
}

/* in reset we have reset ul so we need to add padding */
div.t-error ul {
	padding-left: 40px;
}