/* Required by IE7 */
HTML BODY DIV.t-error LI {
	margin-left: 20px;
}

/* in IE 6 we need to set padding to 0px */
div.t-error ul {
	padding-left: 0px;
}

/*
 * Somehow IE adds a vertical scrollbar when a horizontal scrollbar is present. This is ugly.
 * Setting overflow to scroll is a bit less ugly.
 */
.certificateGrid {
	overflow: scroll;
}

.t-beandisplay {
	white-space: normal;
}

#postfixSpoolGridTile {
	overflow: scroll;
	/* prevent ugly vertical scrollbar */
	margin-bottom: 2px;
}

#JamesLogGridTile {
	overflow: scroll;
	/* prevent ugly vertical scrollbar */
	margin-bottom: 2px;
}

#crlGridTile {
	overflow: scroll;
	/* prevent ugly vertical scrollbar */
	margin-bottom: 2px;
}

#smsGridTile {
	overflow: scroll;
	/* prevent ugly vertical scrollbar */
	margin-bottom: 2px;
}