.message-info {
	background: #008000;
	color: #FFFFFF;
	font-weight: bold;
	padding: 4px;
	text-align: left;
	font-size: 12px;
}

.message-error {
	background: red;
	color: white;
	font-weight: bold;
	padding: 4px;
	text-align: left;
	font-size: 12px;
}

.message-warn {
	background: #FF9900;
	color: white;
	font-weight: bold;
	padding: 4px;
	text-align: left;
	font-size: 12px;
}

a:link .message-info {
	color: #FFF;
	font-weight: bold;
	text-decoration: underline;
}

a:visited .message-info {
	color: #FFF;
	font-weight: bold;
	text-decoration: underline;
}

a:hover .message-info {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

a:active .message-info {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

a:link .message-error {
	color: #FFF;
	font-weight: bold;
	text-decoration: underline;
	font-size: larger;
}

a:visited .message-error {
	color: #FFF;
	font-weight: bold;
	text-decoration: underline;
	font-size: larger;
}

a:hover .message-error {
	color: #000;
	font-weight: bold;
	text-decoration: none;
	font-size: larger;
}

a:active .message-error {
	color: #000;
	font-weight: bold;
	text-decoration: none;
	font-size: larger;
}

a:link .message-warn {
	color: #FFF;
	font-weight: bold;
	text-decoration: underline;
	font-size: larger;
}

a:visited .message-warn {
	color: #FFF;
	font-weight: bold;
	text-decoration: underline;
	font-size: larger;
}

a:hover .message-warn {
	color: #000;
	font-weight: bold;
	text-decoration: none;
	font-size: larger;
}

a:active .message-warn {
	color: #000;
	font-weight: bold;
	text-decoration: none;
	font-size: larger;
}